.button{
    
}
.cm_btn{
    border-radius: 15px;
    border: 1px solid #FFF;
    padding: 13px 30px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    background-color: transparent;
    width: 160px;
}