.auth_Active {
    background-color: var(--bg-blue-primary);
    border: 1px solid var(--bg-blue-primary);
    font-weight: normal;
    color: white;
    // background-color: red;
}

.auth_Default_Btn {
    border: 1px solid var(--bg-blue-primary);
    font-weight: normal;
    color: var(--text-light-color);
}

.form_Labels {
    color: rgba(0, 0, 0, 0.50);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 1rem;
}