@import 'react-phone-input-2/lib/material.css';
@import 'react-toastify/dist/ReactToastify.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url(./assets/font/Poppins-Regular.ttf);
}

:root {
  --font-poppins: Poppins;
  --bg-blue-primary: #1477EB;
  --text-light-color: #00000080;
}

body {
  margin: 0;
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --assent-primary: #1477EB;
  --font-family: var(--font-poppins)
}

.text_Light {
  color: var(--text-light-color);
}