@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-phone-input-2/lib/material.css";
@import "react-toastify/dist/ReactToastify.css";

@font-face {
  font-family: Poppins;
  src: url(./assets/font/Poppins-Regular.ttf);
}

:root {
  --font-poppins: Poppins;
  --bg-blue-primary: #1477eb;
  --text-blue-primary: #1477eb;
  --text-light-color: #00000080;
}

body {
  margin: 0;
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Make the content flex-grow, so it takes up remaining space */
.content {
  flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --assent-primary: #1477eb;
  --font-family: var(--font-poppins);
}

.text_Light {
  color: var(--text-light-color);
}

.phone_Input_Wrapper {
  .special-label {
    display: none;
  }

  input {
    width: 100% !important;
    outline: none !important;
    // padding: 1rem !important;
    border-radius: 0.6125rem !important;
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;

    &:focus {
      outline: 2px solid black !important;
      box-shadow: none !important;
      border: none !important;
    }
  }
}

.feature_Img {
  @media only screen and (max-width: 768px) {
    width: 90%;
    margin: auto;
  }
}

.flex_2 {
  flex: 2;
}
.flex_3 {
  flex: 3;
}
