@font-face {
  font-family: Poppins;
  src: url(./assets/font/Poppins-Regular.ttf);
}
:root {
  --font-poppins:Poppins
}
body {
  margin: 0;
  font-family: var(--font-poppins) ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --assent-primary:#1477EB;
  --font-family: var(--font-poppins) 
}